<!doctype html>
<html lang="en">
  <head>
    <title> Japan Website name not ready</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="/public/css/styles.css">
  </head>
  <body class="body">
      <nav id = "nav-holder" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tabibito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="plan.ejs">Plan <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="info.ejs">Info</a>
            <a class="nav-item nav-link" href="FAQ.ejs">FAQ</a>
            
            <a class="nav-item nav-link login" href="login.ejs">Log in</a>
            <a class="nav-item nav-link login end" href="register.ejs">Register</a>
          </div>
        </div>
      </nav>
      <h1 class="faq"> FREQUENTLY ASKED QUESTIONS </h1>
      <div class="faq-summary">
        <p > If you have any worries or concerns, please have a look through our FAQ section which should answer most of your questions.  </p>
        
      </div>
      <div class="faq-links">
        <span > <a href="#safety">  <button type="button" class="btn btn-outline-info medium-button">Safety</button> </a> </span>
        <span> <a href="#itinerary"> <button type="button" href="#itinerary" class="btn btn-outline-info large-button medium-button">Itinerary</button></a> </span>
        <span> <a href="#cost"> <button type="button" class="btn btn-outline-info medium-button ">Cost</button> </a></span>
      </div>
      <div class="faq-general">
        <span> <a href="#general">    <button type="button" class="btn btn-outline-info large-button">General</button> </a> </span>
      </div>
      <hr style="border: black solid 1px; margin: 0 5em 0 5em;">
      <div class="faq-table">
      <div class = "faq-table-section">
        <h2 id="safety"> Safety </h2>
          <div class="hover-find">
             <h4> Is insurance included with this package? </h4>
             <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
            </p>
          </div>
          <div class="hover-find">
            <h4> How safe of a country is Japan? </h4>
            <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
               This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
               This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
           </p>
         </div>
         <div class="hover-find">
          <h4> What is the average level of English there? </h4>
          <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
             This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
             This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
         </p>
       </div>
      </div>
      <div class = "faq-table-section">
        <h2 id="itinerary"> Itinerary </h2>
            <div class="hover-find">
              <h4> Can we change the itinerary as we go along? </h4>
              <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
            </p>
          </div>
          <div class="hover-find">
            <h4> Can I add/remove days from my plan? </h4>
            <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
               This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
               This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
           </p>
         </div>
         <div class="hover-find">
          <h4> How many days would we recommend? </h4>
          <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
             This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
             This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
         </p>
        </div>
      </div>
      <div class = "faq-table-section">
        <h2 id="cost"> Cost </h2>
            <div class="hover-find">
              <h4> Is this an upfront cost? </h4>
              <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
            </p>
            </div>
            <div class="hover-find">
              <h4> Where should I convert my money into Japanese yen? </h4>
              <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
                This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
              </p>
            </div>
          <div class="hover-find">
            <h4> How much money do we recommend you bring with you?</h4>
            <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
            </p>
          </div>
      </div>
      <div class = "faq-table-section">
        <h2 id="general"> General </h2>
          <div class="hover-find">
            <h4> Are there any cultural aspects people should be aware of before visiting Japan?</h4>
            <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
          </p>
          </div>
          <div class="hover-find">
            <h4> Will we expand our tours to other countries in the near future?</h4>
            <p class ="hover-change"> This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question 
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
              This is an answer to your question This is an answer to your question This is an answer to your question This is an answer to your question
            </p>
          </div>

  </div>

      </div>


              <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/public/js/japan.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

      </body>
    </html>
   