 

    <!doctype html>
    <html lang="en">
      <head>
        <title> Japan Website name not ready</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"-->
          
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="../resources/css/styles.css"/> -->
        <link  rel="stylesheet" type="text/css" href="/public/css/styles.css">
      </head>
      <body>
       <!--<div class="flex">  --> 
       
          <nav id = "nav-holder" class="navbar navbar-expand-lg navbar-light bg-light  ">
            <a class="navbar-brand" href="/">Tabibito</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="plan.ejs">Plan <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="info.ejs">Info</a>
                <a class="nav-item nav-link" href="FAQ.ejs">FAQ</a>
                <!--<img src="https://w7.pngwing.com/pngs/301/302/png-transparent-japan-torii-idea-sticker-t-shirt-japan-logo-sticker-art-thumbnail.png" alt="logo"> -->
                <a class="nav-item nav-link login" href="login.ejs">Log in</a>
                <a class="nav-item nav-link login end" href="register.ejs">Register</a>
                
              </div>
            </div>
          </nav>
          <div class=" jumbotron jumbotron-fluid ">
            <div class="container title">
              <h1 style="margin: 5px;">Welcome <%= back %> to Tabibito <%=username%></h1> 
              
              <h1 style="margin: 5px;">旅人</h1> 
            </div>
          </div>
         
          <div class= "threebox">

            <div class="container a">
              <h1 class = "box-title"> Anytime. </h1>
              <span> 
                Work with us to dream up every aspect of your trip to Japan. Don't hesitate unless you want to miss out on a trip of a lifetime!
              </span>
              <button type="button" class="btn btn-outline-primary threelink"><a href="info.ejs">Info</a></button>
            </div>
            <div class="container b">
              <h1 class = "box-title in"> Anyplace.</h1>
              <span> 
                Aside from the main tourist attractions, we can guide you to the hidden corners and secret gems of Japan.
              </span>
              <button type="button" class="btn btn-outline-primary threelink"><a href="FAQ.ejs">FAQ </a></button> 
            </div>
            <div class="container c">
              <h1 class = "box-title"> Anyone.</h1>
              <span> 
                Don't let anything hold you back, we truly believe every single person will love something on this trip.
              </span>
              <button type="button" class="btn btn-outline-primary threelink"><a href="plan.ejs"> Plan </a></button> 
            </div>

          </div>

           <div class=" jumbotron jumbotron-fluid top background-img ">
            <div class="container">
              <h1 class="display-4">Why travel to Japan?</h1>
              <p class="lead">Whether you're dying to explore Japanese history and culture at the variety of UNESCO World Heritage Sites in the country, indulge in diverse Japanese cuisine, or experience a ride on the lighting-fast Shinkansen trains, a trip to Japanese promises adventure around every corner.</p>
            </div>
           </div>
            <div class="jumbotron jumbotron-fluid alt">
              <div class="container">
                <h1 class="display-4">How long do I need?</h1>
                <p class="lead">We understand not everyone can have 3 consecutive weeks free. Which is why we offer trips for people with limited time as well as people with more time.</p>
              </div>
            </div>
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Why choose us?</h1>
                <p class="lead">Our company values itself on customer experince and tailoring any itinerary to our customers needs. If you want your own personal itinerary then using Tabibito is the way to go!</p>
              </div>
            </div>
            
            <div class="jumbotron jumbotron-fluid alt">
              <div class="container">
                <h1 class="display-4"> How do I book a trip with you?</h1>
                <p class="lead">Simply check out our <a href="plan.ejs"> plan </a> page and we will create your own personal itinerary!</p>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <!--<img class="col" src="https://images.unsplash.com/photo-1617869884925-f8f0a51b2374?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dG9reW8lMjBuaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80">
                <img class="col" src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2016/02/Mount-Fuji-New.jpg">
                <div class="w-100"></div>
                <img class="col" src="https://media.timeout.com/images/105240237/image.jpg">
                <img class="col" src="https://cdn.audleytravel.com/3601/2573/79/15979501-aharen-beach-okinawa-japan.jpg"> -->
                <img class="col" src="../public/img/night.jpg">
                <img class="col" src="../public/img/Samurai.jpg">
                <div class="w-100"></div>
                <img class="col" src="../public/img/Takayama.jpg">
                <img class="col" src="../public/img/Temple.jpg">

              
              
              
              </div>
            </div>
    




          </div>

        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/public/js/japan.js"></script>
      </body>
    </html>
   
