<!doctype html>
<html lang="en">
  <head>
    <title> Tabibito</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"/-->
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="/public/css/styles.css">
  </head>
  <body>
      <nav id = "nav-holder" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home.ejs">Tabibito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="plan.ejs">Plan <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="info.ejs">Info</a>
            <a class="nav-item nav-link" href="FAQ.ejs">FAQ</a>
            
            <a class="nav-item nav-link login" href="logout.ejs">Log out </a>

          </div>
        </div>
      </nav>
      <div>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Time to plan!</h1>
            <p class="lead">Fill out these simple questions and we will create the perfect itinerary for you!</p>
            <hr class="my-2">
            <p >If you need to inspiration, click here!</p>
            <p class="lead">
              <a onclick="popup_tourism()" class="btn btn-primary btn-lg button_colour" role="button">Tourism Hotspots!</a>
            </p>
          </div>
        </div>
        </div>
      </div>
      <hr style="border: black solid 1px; margin: 1em 5em 1em 5em;">
      <form action="/plan" method="POST" >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Forename</label>
            <input type="text" class="form-control" name="name" id="inputEmail4" placeholder="Forename">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Surname</label>
            <input type="text" class="form-control" id="inputPassword4" name="surname" placeholder="Surname">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Email address</label>
          <input type="email" name="email" class="form-control" id="inputAddress" placeholder="xyz@gmail.com">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Are there any medical conditions we should be aware of?</label>
          <input type="text" name ="medical" class="form-control" id="inputAddress2" placeholder="Allergies etc..">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">How many people will be going on this trip?</label>
            <select type="text" name = "size" class="form-control" id="inputCity">
              <option selected></option>
              <option> 1-6 </option>
              <option> 6-12 </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Budget</label>
            <select id="inputState" name = "budget" type="text" class="form-control">
              <option selected></option>
              <option>£1000~</option>
              <option>£1500+</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Duration in days</label>
            <select type="text" name="duration" class="form-control" id="inputZip">
              <option selected></option>
              <option>1-7</option>
              <option>7-14</option>
             <!-- <option>14-21</option> --> 
            </select>
        </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary button_colour">Generate plan</button>
      </form>



 
              <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/public/js/japan.js"></script>
      </body>
    </html>
   
