<!doctype html>
<html lang="en">
  <head>
    <title> Japan Website name not ready</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="/public/css/styles.css">
  </head>
  <body class="body_login">
    <div class = "register_button">
        <h1 style="margin-top: 0;"><a href="login.ejs"> Log in</a></h1>
    </div>
    <div class="login_form" id ="login_form">
        <h1 >Register </h1>
        <form class="form_two" action="/reg" method="post">
            <label for="username">
                <!-- font awesome icon -->
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input class="password" type="password" name="password_confirm" placeholder="Password confirmation" id="password_confirm" required>
            <input class="password" onclick="checker()" type="submit" value="Register">
        </form>
    </div>
</body>